<br><h2>
Hello <%= @yourname %>
</h2><br>

<div class="container-fluid" >
	<div class = "row-fluid" >
		<div class = 'span7'>	
			<div class = "row-fluid">
				<div class = 'span2'>
					Your url:
				</div>
				<div class = 'span10'>
					<input type="text" name="firstname" style="width:485px">
				</div>
				<div class = "row-fluid">
					<div class = 'span2'>
						Your Description:
					</div>
					<div class = 'span10'>
						<textarea id="status" rows="5" style="width:485px"></textarea>
					</div>
				</div>
				<div class = "row-fluid">
					<div class = 'span2'>
						Your photo:
					</div>
					<div class = 'span10'>
						<input type="text" name="photourl" style="width:485px"></textarea>
					</div>
				</div>
				<div class = "row-fluid">
					<div class = 'span2'></div>
					<div class = 'span10'>
					<button> Photo Upload</button>
					</div>
				</div>
					<button> Submit</button>
			</div>
		</div>
		<div class="span5"  >

			<textarea id="status" rows="10" style="width:300px;align" align="left"></textarea>	
			</div>
	</div>
</div>		