<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title><%= "#{@title} | #{SITE_TITLE}" %></title><!DOCTYPE html>   
 	<link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">  
 	<link href="vendor/bootstrap/css/prettify.css" rel="stylesheet">
	<link href="vendor/bootstrap/css/docs.css" rel="stylesheet">
	<link href="vendor/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<style type="text/css">  
	.socials {  
	padding: 10px;  
	}  
	</style>  
	<script type='text/javascript'>
	function change_class(elem){
			var parentDiv = elem.parentNode;
		if(parentDiv.className == "dropdown open" ){
			alert(elem.parentDiv.className);
			parentDiv.className = "dropdown";
			alert(elem.parentDiv.className);
		}else{
			alert(elem.parentDiv.className);
			parentDiv.className = "dropdown open";
			alert(elem.parentDiv.className);
		}
	}
	</script>
</head>  
<body>  
<div id="fb-root"></div>  
<script>(function(d, s, id) {  
  var js, fjs = d.getElementsByTagName(s)[0];  
  if (d.getElementById(id)) return;  
  js = d.createElement(s); js.id = id;  
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";  
  fjs.parentNode.insertBefore(js, fjs);  
}(document, 'script', 'facebook-jssdk'));</script>  
<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">  
    <ul class="nav">  
	  <li class="active">  
	    <a class="brand" href="http://14.63.164.245">EVA</a>  
	  </li>  
	  <li><a href="#about">About</a></li>   
	</ul>  
	<ul class="nav pull-right">  
		<li><a href="#work">Recent Work</a></li>  
		<li><a href="#presentation">Presentation</a></li>  
		<li><a href="#video">Videos</a></li>  
		<li><a href="#members">Members</a></li>  
		<li><a href="http://evacast.net">Evacast</a></li> 
		<li class="dropdown">
			<a href="#" class="dropdown-toggle menu-item" data-toggle="dropdown" type="post" onclick="change_class(this)">login
			<b class="caret"></b>
		    </a> 
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	                <li><a href="/myphoto"><i class="link-icon icon-large icon-user"></i><span>페이스북</span></a></li>
	                <li class="divider"></li>
	                <li><a href="/logout"><i class="link-icon icon-large icon-off"></i><span>구글</span></a></li>
                </ul>
        </li>
	</ul>  
    </div>  
  </div>  
</div>  
		<%= yield %>
<hr>
<p>Copyright © 2013 EVA</p>
<script type="text/javascript">  
  (function() {  
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;  
    po.src = 'https://apis.google.com/js/plusone.js';  
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);  
  })();  
</script>  
</body>  
</html>   