

				<img src = "/images/main.jpg">
<hr>
<div class = "row-fluid" id="recent-work">
	<div class = "span12">
	<h2><a id='about' style="text-decoration:none; color: #800000"> About </a></h2>
	<center>
		<div class ="span12">
			<h4>EVA는 2003년 3월에 시작되었으며, 회원 수는 약 50명이다. Pattern과 소프트웨어 공학 지식을 외부에 알린다는 의미로 Eva(Evangelism)라는 이름으로 활동하고 있다. 소프트웨어 공학을 공부하고, 배웠던 지식을 산업계, 학계, 커뮤니티에 전파하는 역할을 하는 것이 목적이 다. 소프트웨어 공학, 아키텍쳐, facebook, ACE, TAO, Android를 주제로 다양한 도메인의 회원들이 모여 90여개가 넘는 무료 Webcast를 공유, 잡지 기고, 패턴 만들기 등 활동을 하고 있다.</h4>
		</div>
	</center>
	</div>
</div>
<hr>
<div class = "row-fluid" id="recent-work">
<div class = "span12">
<h2><a id='work' style="text-decoration:none; color: #800000"> Recent Work </a></h2>
</div>
</div>
<hr>
<div class = "row-fluid" id="member">
<h2><a id='members' style="text-decoration:none; color: #800000"> Members</a> </h2>
<center>
<div class = "span12">

<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100000041116152.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/1487167459.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100002467123003.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100002000411832.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100001314106197.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100001340327831.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100000910960952.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100005234500185.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100001066448386.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100001850477769.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100002274717846.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100001071208401.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100003198556738.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100000957474908.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100000045787516.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100003705974291.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100001699802004.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100001742563428.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100001448898537.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100001570273550.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100001190104759.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/1184344295.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100000975534519.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100001300056614.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/1601351625.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/519557264.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100000337103719.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100001986937359.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100001928480198.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100001880703080.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100001836043870.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100001726301654.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100001623690330.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100000939444736.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/100000259625630.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/1711885611.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/1680549739.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/1233102578.jpg">
<img src = "http://res.cloudinary.com/dobny9ati/image/facebook/w_180,h_180,c_fill/1181257851.jpg">
</div>
</center>
</div>
